.sales-history-page {
    padding: 20px;
    padding: 20px;
  }
  
  .table {
    width: 100%;
    margin-top: 20px;
  }
  
  button {
    margin-top: 20px;
    margin-right: 10px;
  }
  
  .custom-modal-dialog {
    max-width: 500px;
    margin: 30px auto;
  }
  
  .custom-modal-content {
    padding: 20px;
  }
  
  .btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  