.category{
    padding-top: 80px;
}
.custom-modal-dialog {
    max-width: 500px;
    width: 100%;
  }
  
  .custom-modal-content {
    padding: 20px;
  }
  
  .newcategory-btn {
    background-color: #007bff;
    color: #fff;
  }
  
  .edit-btn {
    background-color: #28a745;
    color: #fff;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: #fff;
  }
  