body,
.item-modal-dialog,
.item-modal-content,
.modal-header,
.modal-body,
.modal-footer {
  font-family: "Ubuntu", sans-serif; // Consistent font family
  font-weight: 500; // Consistent font weight
  font-style: normal; // Consistent font style
}

.item {
  padding-top: 100px;
}

.item-modal-dialog {
  max-width: 500px; // Adjust width as needed
  width: 100%;
  margin: 0 auto; // Center the dialog horizontally
  z-index: 1050; // Ensure it is above other elements
  background-color: #9fb873; // Modal background color
  border-radius: 15px;
  padding: 25px;
  margin-top: 100px;
  font-size: large;
  font-weight: bold;
}

.item-modal-content {
  max-height: 80vh; // Adjust height as needed
  overflow-y: auto;

  border-radius: 8px; // Optional: rounded corners
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0); // Optional: add shadow for popup effect
  color: #333; // Font color for the entire modal content
}

.modal-header {
  color: #000; // Font color for the modal header
}

.modal-body {
  color: #333; // Font color for the modal body
}

.modal-footer {
  color: #333; // Font color for the modal footer
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent backdrop
}
/* Style for input fields */
input.form-control {
  background-color: #ccd5c0; // Light grey background color
  border-color: #ccd5c0; // Border color
  font-weight: bold;
  color: #000000; // Text color
  padding: 10px; // Padding inside the input
  border-radius: 7px; // Rounded corners
}

/* Style for input fields on focus */
input.form-control:focus {
  background-color: #ccd5c0; // White background color on focus
  border-color: #869274; // Darker border color on focus
  box-shadow: 0 0 0 0.2rem #38422b22; // Optional: Add a shadow on focus
}

/* Edit button */
.edit-btn {
  background-color: #4caf50; // Green background for Edit button
  color: white; // White text color
  border: none;
  font-weight: bold;

  &:hover {
    background-color: #45a049; // Slightly darker green on hover
  }
}

.newitem-btn {
  background-color: #2196f3; // Blue background for Update button
  color: white; // White text color
  border: none;
  font-weight: bold;

  &:hover {
    background-color: #45a049; // Slightly darker blue on hover
  }
}

/* Delete button */
.delete-btn {
  background-color: #f44336; // Red background for Delete button
  color: white; // White text color
  border: none;
  font-weight: bold;

  &:hover {
    background-color: #992725; // Slightly darker red on hover
  }
}

/* Update button */
.update-btn {
  background-color: #2196f3; // Blue background for Update button
  color: white; // White text color
  border: none;
  font-weight: bold;

  &:hover {
    background-color: #45a049; // Slightly darker blue on hover
  }
}

/* Cancel button */
.cancel-btn {
  background-color: #f44336; // Grey background for Cancel button
  color: white; // White text color
  border: none;
  font-weight: bold;

  &:hover {
    background-color: #992725; // Slightly darker grey on hover
  }
}
