.Calculator {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 20px auto;
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  top: 10%;
  position: fixed;

  .Calculator-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .Calculator-header h1 {
    margin: 0;
    font-size: 1.5em;
  }

  .close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  .container {
    padding: 10px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: right;
  }

  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

  button {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #eee;
    transition: background-color 0.3s ease;
  }

  button.highlight {
    background-color: #234af5;
    color: white;
  }

  button:hover {
    background-color: #ddd;
  }

  button:active {
    background-color: #ccc;
  }

  #equal {
    background-color: #4caf50;
    color: white;
    grid-column: span 4;
  }
  #ac {
    background-color: #e42f2f;
  }
}
