/* Ensure the body covers the entire viewport height */
body,
html,
#root {
  height: 100%;
  margin: 0;
}

/* Center the login form */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
