body,
html,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #ffffff;
}

/* number counter */

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
