:root {
  --primaryitemcolor: #ff0000; /* Font color on hover */
}

.navbar {
  padding: 10px 5rem;
  background: linear-gradient(172deg, #000000, #909090);
  background-size: 400% 400%;
  animation: AnimationName 0s ease infinite;
  font-size: 12px;
}

.navbar_brand {
  cursor: pointer;
  margin-right: auto;
  padding-left: 20px;
}

.toggle {
  border: none;
}

.toggle:focus {
  border: none;
  box-shadow: none !important;
}
.navbartogglericon {
  color: aliceblue;
  width: 1.5em;
  height: 1.5em;
}

.navbartogglericon:hover {
  color: red;
}
.nav__linkgroup {
  position: relative;
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: 12px;
  font-weight: 00;
  color: white;
  text-decoration: none;
}

.nav__link a {
  color: white;
  text-decoration: none;
}

.nav__link a:hover,
.nav__link a:focus {
  color: var(--primaryitemcolor);
  text-decoration: none;
}

.nav__link:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.nav__link .active {
  color: var(--primaryitemcolor) !important;
  text-decoration: none;
}

.lastnav__link {
  color: var(--primaryitemcolor);
}

.nav__link:hover {
  color: var(--primaryitemcolor);
}

.login__link {
  margin-left: 1dvb;
}

.login__button {
  background-color: rgb(255, 0, 0); /* Set the button color to red */
  color: white; /* Text color */
  border: none;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  margin-right: 10px;
}

.login__button:hover {
  background-color: white; /* Change background to white on hover */
  color: rgb(255, 0, 0); /* Change text color to red on hover */
}

.iconSize {
  font-size: 25px; /* Adjust the size as needed */
  margin-right: 0px; /* Add space between icon and text */
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 7px 1rem;
  }

  .nav__linkgroup {
    position: relative;
    display: block;
  }
}
